# Created by .ignore support plugin (hsz.mobi)
.idea/compiler.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/*
algo.iml
target/
